body
{
    margin: 0;
    padding: 0;
    background-color: #1A1A1C;
}
.hi
{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-top: 10%;
    margin-left: 10%;
    border-top: red solid 10px;
    border-bottom: red solid 2px;
    border-left: red solid 2px;
    border-bottom: red solid 2px;  
    border-right: red solid 2px;
    border-bottom: red solid 10px;  
    border-style:double;
}
.pov
{
    border-right: red solid 5px;
    width: 35%;
}
.pov img
{
    width: 100%;
    border-radius: 20%;
}
.bruh
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
}
.bruh video
{
    width: 100%;
    align-self: center;
}
header
{
    background-size: cover;
    background-position-y: 100%;
    height: 100vh;

}
header #text
{
    width: 55%;
    display: flex;
    justify-content: center;    
     z-index: 2;
     position: relative;
}

.lol
{
    width: 55%;
    display: flex;
    justify-content: center;    
    
}
.lol p {
    color: white; 
    font-size: 24px; 
    color: rgb(40, 9, 197);
}